@model Catalog1.Models.PayPalModel
@{
    ViewBag.Title = "ValidateCommand";
}

<h2>Connecting to PayPal, please wait ...</h2>

@*@using(Html.BeginForm(Model.actionURL))
{*@

<form id="hiddenform" action=@Model.actionURL>
    @Html.HiddenFor(model => model.cmd);
    @Html.HiddenFor(model => model.business);
    @Html.HiddenFor(model => model.no_shipping);
    @Html.HiddenFor(model => model.@return);
    @Html.HiddenFor(model => model.cancel_return);
    @Html.HiddenFor(model => model.notify_url);
    @Html.HiddenFor(model => model.currency_code);
    @Html.HiddenFor(model => model.item_name);
    @Html.HiddenFor(model => model.amount);
</form>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(this.document).ready(function ()
    {
        var form = $("form");
        form.submit();
    });
</script>

